<div class="container">
  <form [formGroup]="crearEmpForm" fxLayout="column" fxLayoutAlign="space-between center"
     (ngSubmit)="crearEmpleado()">
     <h2 matLine>Crear Empleado</h2>
     <table style="text-align: center;">
       <tr>
         <mat-form-field style="width: 250px; margin-right: 20px;">
           <mat-label>ID</mat-label>
           <input matInput formControlName="id" type="number" required>
         </mat-form-field>
         <mat-form-field style="width: 250px;">
           <mat-label>Name</mat-label>
           <input matInput formControlName="name" type="text">
         </mat-form-field>
       </tr>
       <tr>
        <mat-form-field style="width: 100px; margin-right: 20px;">
          <mat-label>Role ID</mat-label>
          <input matInput formControlName="roleId" type="number" required>
        </mat-form-field>
         <mat-form-field style="width: 200px; margin-right: 20px;">
           <mat-label>Role Name</mat-label>
           <input matInput formControlName="roleName" type="text" required>
         </mat-form-field>
         <mat-form-field style="width: 200px;">
           <mat-label>Role Description</mat-label>
           <input matInput formControlName="roleDescription" type="text">
         </mat-form-field> 
       </tr>
       <tr>

       </tr>
      <button mat-flat-button color="primary" type="submit" class="signup-button" [disabled]="!crearEmpForm.valid">
        Crear Empleado
      </button>
     </table>
    </form>
</div>