<div class="container" fxLayout="row wrap" fxLayoutAlign="center center">
  <form [formGroup]="buscarEmpForm" (ngSubmit)="buscarEmp()"
        fxLayout="column" fxLayoutAlign="space-around center">
        <h4 matLine>Buscar Empleado</h4>
        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
          <mat-form-field fxFlex style="margin: 0 5px">
            <mat-label>ID Empleado</mat-label>
            <input matInput formControlName="id" type="number">
          </mat-form-field>
        </div>
        <button fxFlex mat-flat-button class="search-button" color="primary" type="submit">
          <i class="fas fa-search"></i> Buscar
        </button>
      </form>
</div>