<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="buscarEmpForm" (ngSubmit)="buscarEmp()"
        fxLayout="column" fxLayoutAlign="space-around center">
    <h2 matLine>Buscar Empleado</h2>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-form-field fxFlex style="margin: 0 5px">
        <mat-label>ID Empleado</mat-label>
        <input matInput formControlName="id" type="number">
      </mat-form-field>
    </div>
    <button fxFlex mat-flat-button class="search-button" color="primary" type="submit">
      <i class="fas fa-search"></i> Obtener Empleados
    </button>
  </form>
  
  <ng-container *ngIf="empleados.data.length > 0">
    <!-- Filter de la tabla -->
    <mat-form-field appearance="fill" style="width: 40%;">
      <mat-label>Filtrar Tabla</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Busca cualquier dato en la tabla" #input>
    </mat-form-field>
    <table mat-table [dataSource]="empleados" class="emp-table">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>  Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.name? element.name : "No name provided" }} </td>
    </ng-container>

    <!-- ContractTypeName Column -->
    <ng-container matColumnDef="contractTypeName">
      <th mat-header-cell *matHeaderCellDef> ContractTypeName </th>
      <td mat-cell *matCellDef="let element"> {{ element.contractTypeName }} </td>
    </ng-container>

    <!-- RoleId Column -->
    <ng-container matColumnDef="roleId">
      <th mat-header-cell *matHeaderCellDef> RoleID </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.roleId? element.roleId : "No RoleID provided" }} 
      </td>
    </ng-container>

    <!-- RoleDescription Column -->
    <ng-container matColumnDef="roleDescription">
      <th mat-header-cell *matHeaderCellDef> RoleDescription </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.roleDescription? element.roleDescription : "No role description provided"  }} 
      </td>
    </ng-container>

    <!-- HourlySalary Column -->
    <ng-container matColumnDef="hourlySalary">
      <th mat-header-cell *matHeaderCellDef> HourlySalary </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.hourlySalary? (element.hourlySalary | currency) : "No hourlySalary provided" }} 
      </td>
    </ng-container>

    <!-- MonthlySalary Column -->
    <ng-container matColumnDef="monthlySalary">
      <th mat-header-cell *matHeaderCellDef> MonthlySalary </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.monthlySalary? (element.monthlySalary | currency) : "No monthlySalary provided" }} 
      </td>
    </ng-container>

    <!-- AnnualSalary Column -->
    <ng-container matColumnDef="annualSalary">
      <th mat-header-cell *matHeaderCellDef> AnnualSalary </th>
      <td mat-cell *matCellDef="let element"> {{ element.annualSalary | currency }} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 30]"></mat-paginator>
  </ng-container>
</div>