<mat-toolbar color="primary" style="height: 100px;">
  <a mat-button routerLink="/empleados">
    <span class="logo">Empleados S.A <i class="fas fa-hard-hat"></i>
    </span> 
  </a>
  <span class="flex-spacer"></span>
  <a mat-raised-button class="nav-button" routerLink="/empleados">Search Employees</a>
  <a mat-raised-button class="nav-button" routerLink="/empleados-create">Create Employees</a>
  <a mat-raised-button class="nav-button" routerLink="/empleados-delete">Delete Employees</a>
</mat-toolbar>